// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

td.actions div {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.index th:last-child, .index td.actions {
    text-align: center;
    width: 200px;
}

.addItems {
    width: 170px;
    display: flex;
    justify-content: space-around;
}

.addItems input {
    width: 85px;
}

.addItem {
    width: 35px;
}

.addedItems {
    display: none;
}

.amount {
    width: 315px;
    display: flex;
    justify-content: space-between;
}

h1.header {
    background-color: #333;
    color: #FFF;
    padding: 10px 20px;
    margin-top: 60px;
}